@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(/fonts/Lausanne-500.woff2);
}

body{
    background-color: black;
    color: whitesmoke;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in forwards;
}


